# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipch
/voxpopuli-main/.vs
/voxpopuli-main/.vs
*.ipch
voxpopuli-main/.vs/tmpl_2024-vox/v17/ipch/fd0e4e550fd7d0e8.ipch
/voxpopuli-main/.vs
*.tlog
/voxpopuli-main/x64
/voxpopuli-main/.vs
.vs
x64
